@{
    ViewData["Title"] = "Coming Soon";
<div class="container">
    <br />
    <br />
    <br />
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card cardShadow cardCenter card_background">
            <div class="card-body padding_Construction">
                <a class="btn btn-primary button_Construction" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                <a class="btn btn-primary button_Construction" href="mailto:ahmeddaoud19@yandex.com">Contact</a>
            </div>
        </div>
    </div>
</div>

