.paddingindex1 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.card_background {
    background-image: url('../images/under-construction-2891888_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}