.containerBackground {
    background: #fff;
}

.paddingcontainer {
    padding-top: 83px;
    padding-bottom: 35px;
}

.padding-div {
    padding: 0;
    box-shadow: 0 19px 38px rgba(0,0,0,.1), 0 5px 13PX rgba(0,0,0,.11);
}

.padding-form {
    padding-right: 25px;
}

.text-title1 {
    text-align: center;
}
