.card-header2 {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #4267B2;
    border-bottom: 1px solid rgba(0,0,0,.125);
    color:white;
}
.card2 {
    box-shadow: 0 19px 38px rgba(0,0,0,.1), 0 5px 13PX rgba(0,0,0,.11);
}
