@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "All List";
}
<div class="container">
    <br />
    <br />
    <br />
    <h1> All Users </h1>
    @if (Model.Any())
    {
        <a asp-action="RegisterAdmin" asp-controller="Account" class="btn bnt-primary mb-3" style="width:auto">
            Ajouter Nouveau utilisateur
        </a>
        foreach (var user in Model)
        {
            <div class="paddingCard">
                <div class="card card2">
                    <div class="card-header card-header2">
                        User Id : @user.Id
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            @user.UserName
                        </h5>
                    </div>
                    <div class="card-footer">
                        <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                            <a class="btn btn-outline-success" asp-action="EditUser" asp-controller="Administration" asp-route-id="@user.Id">
                                Edit
                            </a>
                            <button type="submit" class="btn btn-outline-danger">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        }
    }
    else
    {

    }
</div>
